@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  min-height: 100%;
}

body {
  background-color: rgb(243 244 246);
  color: rgb(17 24 39);
}

.dark body {
  background-color: rgb(17 24 39);
  color: rgb(243 244 246);
}